body
{
    font-size: 14px;
    line-height: 1.6;
    background: #f5ecdc;
}

.jumbotron
{
    background: #bce6f4;
}

.list-group-item
{
    width: 70%;
    text-align: left;
    padding: 3px 10px
}


input
{
    text-align: center;
}

#usernameHeader
{
    float: right;
    font-size: 15px;
    padding-top: 2%;
}

#boxTitle
{
    background-color: #dddad7;
    width: 70%;
    text-align: center;
    height: 10%;
}

#channelForms
{
    margin-left: 5%;
    outline: 0;
}

#chatTitle
{
    font-size: 70px;
}

#delButton
{
    width: 15%;
    margin-left: 30%
}

#typeinUsername
{
    font-size: 30px;
}

#submit
{
    margin-top: 1%;
}

#newUsername
{
    width: 20%;
    margin: auto;
}

#usernameForm, #typeinUsername
{
    text-align: center;
    right: 50%;
}

#modalBtn
{
    margin-left: 34%;
}

#newChannel, #channelSelect
{
    margin-left: 30%;
}

#newChannel
{
    width: 70%;
}

#channelSubmit, #sendMessage
{
    color: #22abd8;
}

#channelSubmit
{
    margin-top: 0;
    font-size: 12px;
    margin-left: 25%;
    border-radius: 10px;
    background-color: #f5ecdc;
}

#sendMessage
{
    margin-right: 31%;
    background-color: #f5ecdc;
}

#Addanewchannel
{
    margin-left: -50%;
}

#channelListbutton, #Addanewchannel
{
    color: buttontext;
    background-color: white;
}

#channeldiv
{
    width: 200px;
    top: calc(50% - XYpx);
    left: calc(50% - XYpx);
    border: 0;
    outline: 0;
    margin-left: 5%;
}

#messageDiv
{
    margin-left: 25%;
    width: 100%;
    margin-top: -10%;
    padding-right: 10%;
    padding-left: 10%;
}

#channelSelect
{
    width: 70%;
}

#newMessage
{
    width: 65%;
    width: 70%;
}

#channelHeader
{
    font-size: 30px;
    margin-left: 30%;
}

@keyframes fade {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#usernameAll, .jumbotron, #channeldiv, #messageDiv
{
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#usernameAll
{
    animation-name: fade;
}

.jumbotron, #channeldiv, #messageDiv
{
    animation-name: fade-in;
}
