<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="{{ url_for("static", filename="index.js") }}"></script>
        <link rel="stylesheet" href="static/layout.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
        <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    </head>
    <body>

        <div class="jumbotron">
            <h1 class="display-3">Welcome!</h1>
            <h1 id="usernameHeader"></h1>
        </div>

        <ul>

        </ul>

        <!--Username form-->
        <div id="usernameAll">
            <h1 id="typeinUsername">Username</h1>
            <div id=usernameForm>
                <form id="userform">
                    <input id="newUsername" class="form-control form-control-lg" type="text" placeholder="">
                    <input type="submit" class="btn btn-default" value="Join" id="submit">
                </form>
            </div>
        </div>


        <!--Channel div-->
        <div id="channeldiv">
            <div id="channelForms">
                <h1 id="channelHeader" value="#b3f4f5" data-color="red">Channels</h1>
                    <select id="channelSelect" class="form-control form-control-sm">
                        {% for key, value in channel_dict.items() %}
                            <option>{{ key }}</option>
                        {% endfor %}
                    </select>
                <!--<ul class="list-group" id="channelList">-->
                <!--    {% for key, value in channel_dict.items() %}-->
                <!--        <li class="list-group-item">{{ key }}</li>-->
                <!--    {% endfor %}-->
                <!--</ul>-->
                    <div id="channelForms2">
                         <form id="channelAdd">
                               <input id="newChannel" autocomplete="off" autofocus placeholder="New channel" maxlength="16" type="text">
                               <input id="channelSubmit" class="btn btn-default" type="submit" value="&#43">
                         </form>
                    </div>
             </div>
         </div>

        <div id="messageDiv">
        <ul class="list-group" id="messageBox">
            <!--{% for key, value in channel_dict.items() %}-->
            <!--    {% for message in value %}-->
                <li class="list-group-item" id="messagesLi"></li>
                <!--{{ message }}-->
            <!--    {% endfor %}-->
            <!--{% endfor %}-->
        </ul>
        <form id="messageForm" >
            <input id="newMessage" autocomplete="off" autofocus placeholder="" maxlength="100" type="text">
            <input id="sendMessage" class="btn btn-default" type="submit" value="&#9654">
        </form>
        </div>


        <!--<ol id="selectable">-->
        <!--  <li class="ui-widget-content">Item 1</li>-->
        <!--  <li class="ui-widget-content">Item 2</li>-->
        <!--  <li class="ui-widget-content">Item 3</li>-->
        <!--  <li class="ui-widget-content">Item 4</li>-->
        <!--  <li class="ui-widget-content">Item 5</li>-->
        <!--  <li class="ui-widget-content">Item 6</li>-->
        <!--  <li class="ui-widget-content">Item 7</li>-->
        <!--</ol>-->



    </body>
</html>
